<form>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Bio">
          </div>
        </div>
        
    </div>
    
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlInput1" rows="3" placeholder="Describe your professionel experience here ..."></textarea>

            </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlInput1" rows="3" placeholder="Describe your skillse here ..."></textarea>
            </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlInput1" rows="3" placeholder="About you ..."></textarea>
            </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               Photo de profil: <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               Photo de couverture: <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="(+216)99 999 999">
              </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
        <button type="button" class="btn btn-outline-primary">Submit</button>
     
    </div>
</div>

</div>
    
  </form>